@import url("https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "gorditas", cursive;

    /*-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.App {
    max-width: 1500px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 0 2px 6px #08a05ca4;
    padding: 0 15px;
    box-sizing: border-box;
}

/* ---------------------------   HEADER --------------------------------*/
header {
    width: 97%;
    min-height: 100px;
    max-width: 1530px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 5px 10px #08a05c50;
}

a {
    color: #693d7d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
a:hover {
    color: lightpink;
}
li {
    list-style: none;
}
header ul {
    display: flex;
    padding: 0;
    margin: 0;
}
header ul li {
    padding: 0 1rem;
}
header ul li a {
    font-weight: bold;
}
header .cart {
    position: relative;
    cursor: pointer;
}
header .cart box-icon {
    width: 45px;
    height: 45px;
}
header .cart span {
    position: absolute;
    top: -1rem;
    right: -1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid violet;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: violet;
}

/*----------------- PRODUCTS -----------------------*/
.produ {
    font-size: 2 rem;
    padding: 10 rem 0 0 0;
    color: #693d7d;
    padding-top: 9rem;
    text-align: center;
}

.products {
    padding: 5rem 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 3rem 2rem;
    box-sizing: border-box;
}

.product {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgba(26, 8, 8, 0.1);
    border: 6px solid transparent;
    cursor: pointer;
    border-radius: 5px;
}
.product:hover {
    border: 6px solid #08a05c55;
}

.product_img img {
    width: 325px;
    height: 310px;
}

.product_footer {
    padding: 1rem;
}

.product_footer h1 {
    font-weight: 600;
    font-size: 1.5rem;
    color: #693d7d;
    font-family: "gorditas", cursive;
}
.product_footer p {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.555);
    text-transform: uppercase;
    font-size: 18px;
}
.product_footer .price {
    font-size: 2rem;
    color: #1a202c;
}

.products .buttom {
    width: 100%;
    height: 45px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem 3rem;
    /*padding: 0 1rem;
    margin: 1rem;*/
}
.buttom .btn {
    border: none;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
}

.buttom button {
    background-color: #693d7d;
    padding-left: 1rem;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}

.buttom div {
    background-color: #ecc7fc;
    display: grid;
    align-items: center;
    text-align: center;
    margin-left: -2rem;
    border-radius: 5px;
}

.buttom div a {
    color: #693d7d;
    font-weight: 700;
    text-align: center;
}
.buttom div a:hover {
    color: white;
}

/*--------------- INICIO ---------------------------------*/
.inicio {
    width: 100%;
    margin: 0 auto;
    padding-top: 9rem;
}

.inicio h1 {
    font-size: rem;
    color: #693d7d;
    text-align: center;
}
.inicio img {
    width: 100%;
}

.inicio p {
    padding-top: 20px;
    text-align: center;
    font-size: 2.5rem;
    color: #693d7d;
}

.inicio .footer {
    color: grey;
    font-size: 1rem;
    padding-top: 4rem;
}

section img .whatsapp {
    height: 100px;
}
/*--------------- CARRITO/ CART ------------------------------*/
.carritos {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    padding-bottom: 5rem;
    visibility: hidden;
}
.carrito {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    width: 80%;
    height: 80%;
    border-radius: 8px;
    overflow-x: scroll;
    transition: all 300ms ease-in-out;
    background-color: #ecc7fc;
    opacity: 0;
    visibility: hidden;
    /* terminar mas propiedades aqui */
}

.carrito h2 {
    text-align: center;
    font-size: 3rem;
    color: #693d7d;
}

.carritos.show {
    visibility: visible;
}
.carrito.show {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
    visibility: visible;
}

.carrito_close box-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: all 300ms ease-in-out;
    margin: 3rem 0 0 2rem;
}
.carrito_close box-icon:hover {
    fill: violet;
}
.carrito_center {
    width: 90%;
    margin: 0 auto;
}
.carrito_item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 80%;
    margin: 2rem auto;
    box-shadow: 0 1px 10px #08a05c;
    border-radius: 5px;
}
.carrito_item img {
    width: 9rem;
    height: 9rem;
}
.carrito_item h3 {
    margin-top: 1.5rem;
    font-family: "gorditas", cursive;
    color: #693d7d;
    font-size: 1.5rem;
    font-weight: 700;
}
.carrito_item .price {
    color: #7d6a86;
    font-size: 2rem;
    font-weight: bold;
    text-align: start;
    margin-left: -1rem;
}
.carrito_item box-icon {
    fill: #693d7d;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 0.3rem;
}
.carrito_item .cantidad {
    font-size: 2rem;
    font-weight: bold;
}
.carrito_item .remove_item box-icon {
    width: 60px;
    height: 80px;
    fill: gray;
    margin-top: 2rem;
}
.carrito_footer {
    text-align: center;
    margin-bottom: 3rem;
}
.carrito_footer h3 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.carrito_footer .btn img {
    font-size: 1rem;
    height: 60px;
    width: 60px;
}
.carrito_footer .btn {
    display: inline-block;
    padding: 0.3rem 1rem;
    font-size: 2.5rem;
    background-color: #693d7d;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 20px;
    outline: 0;
    color: white;
}
.carrito_footer .btn:hover {
    background-color: #693d7d;
    color: black;
}

/*------------ MEDIA QUERIES CARRITO ----------------*/
@media only screen and (max-width: 1000px) {
    .carrito_item {
        width: 92%;
    }
}

@media only screen and (max-width: 700px) {
    .carrito {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
    .carrito_item h3 {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 450px) {
    .carrito_item h3 {
        width: 0.8rem;
    }
    .carrito_item .remove_item box-icon {
        width: 30px;
        height: 70px;
    }
}

/* --------------- MEDIA QUERIES HEADER ------------------*/
@media only screen and (max-width: 600px) {
    header ul {
        display: none;
    }
}
